body {color: rgba(255, 168, 12, 1);font:300 15px/15px Roboto,Arial,Helvetica;background: rgba(0, 0, 0, 0.86); -webkit-font-smoothing:antialiased;}

a{color:#fff; text-decoration:none;}
a:hover,a:focus{color:#666;}
.btn,a,.btn:hover,a:hover {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
outline: none !important;
}

h1,h2,h3,h4{margin: 0;line-height: 1em;}
h1{font:700 5em Roboto,Arial,Helvetica;margin:0.25em 0;text-transform: uppercase;}
h2{font:300 2.5em Roboto,Arial,Helvetica;margin:25px 0;}
h3{font:300 2em Roboto,Arial,Helvetica;margin:2em 0 1em 0;}
h4{font:300 1.5em Roboto,Arial,Helvetica;margin-bottom: 1em;}
h4 i{margin-right: 0.5em;}

p{font-size:1em;line-height: 1.7em; margin: 2em;}

/*.spacer{padding: 4em 0;}*/

.btn{border:none;border-radius: 0;padding: 1em 4em;background: rgba(0,0,0,0.5);text-transform: uppercase;margin-top: 1.5em;}
.btn:hover,.btn:active{color: #fff;}
.btn-default{color: #e89f10;border: 1px solid  #e89f10;}
.btn-default:hover,.btn-default:active,.btn-default:focus{color: #f3c024;background-color:rgba(0,0,0,0.5);border-color:#f3c024}

.btn-primary{color: #fff;background:#e89f10;outline: none; align-items: center;}
.btn-primary:hover{background:#f3c024;box-shadow: none;}
.btn-primary:active,.btn-primary:focus{background:#e89f10}

.topbar {background:url(../images/lines.png);	height:5px;position: fixed;top: 0;width: 100%;z-index: 1000;}
.navbar-nav > li > a{font-size: 1em;line-height: 3.6em;}
.navbar-fixed-top{top: 4px;}
.navbar-inverse{background: #111;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{background: none;color: #E89F10;}

#head,.carousel{margin-top: 0;}

#home{padding-top:5em;}

/*about*/
.about.spacer{padding-left:1em; padding-right: 1em;padding-top: 2em;}
.services ul li{width: 10em;height: 10em;border: 1px solid #ccc;padding: 0;border-radius: 50%;margin: 0 1.25em;line-height: 13.5em;color: #999;}
.services ul li span{line-height: 2em;display: inline-block;font-weight: 300;}
.services ul li span i{font-size: 3em;}
.services ul li span b{display: block;font-size: 1em;font-weight: 300;}


/*testimonials*/
.partners img{float: left;margin:0 75px 30px 0;}
.testimonails{min-height: 195px;}
.testimonails img{margin-top: 5px;}
.testimonails span{color: #888;}
.testimonails span b{font-weight: 400;}
.carousel-indicators li{border: 1px solid #f3c024;}
.carousel-indicators{bottom: 0;}

/*works*/

#proyectos figcaption a{border:1px solid #fff;margin-top: 1em;display: inline-block;color: #fff;padding: 0 2em;}
#proyectos figcaption a:hover{text-decoration: none;padding: 0 3em;}
/*works*/

/*team*/
.team figure{width: 100%;}
.team img{width: 100%;}
.team b{font-size: 1.2em;display: block;}
.team a i.fa{color: #fff; font-size: 2em;}
.team a i.fa:hover{color: #E89F10;}


.highlight-info{ background:url(../images/lab.jpg) center fixed; background-size: cover; color:#fff;}
.highlight-info .overlay{background: rgba(232,159,16,0.7);}
.highlight-info h4{color: #fff;margin:0.5em 0 0 0;}

/*about us*/
#about p{
	text-align: justify;
	margin-top: 25px;
    align-content: center;
}



#about .profile_photo
{
    width: 300px;
    height: 300px;
    margin-top: 150px;
    padding-left: 25px;
    margin-left: 30px;
}
#about .btn-full
{
    width: 100%;
    font-size: 15px;
}

#about .btn-primary .name{
    text-align: left;
}

#about .btn-primary .index{
    text-align: right;
}

#about .btn-default .name{
    text-align: left;
}

#about .btn-default .index{
    text-align: right;
}

#about .btn{
    padding-right: 3em;
    padding-left: 3em;

}
.theNews{
    /*margin-top: 25px;*/
    /*padding-left: 45px;*/
    /*padding-right: 45px;*/

}
.first{
  font-size: 40px;
  padding-bottom: 15px;
}

.second{
    font-size: 30px;
}

.news{

    margin-top: 110px;
}
.news1 {

    margin-top: 30px;
}


.date{
    margin-top: 20px;
}
.date1 {
    margin-top: 35px;
}

.text {
    padding-left: 2px;
    padding-right: 12px;
    padding-top: 15px;
    /*font-size: 17px;*/
}


 .date_month {
     font-size: 30px;
     padding-bottom: 15px;
 }

#about .resume{
    background: rgba(0, 0, 0, 0.86);
    color: rgba(255, 168, 12, 1);
    padding-bottom: 35px;
}





/*contact*/
.contactform textarea,.contactform input{width: 100%;padding:1em;border:1px solid #ccc;margin-bottom: 1em;border-radius: 0;outline: none;}
/*contact*/

#contact{
    padding-bottom: 35px;
}


#footer{background-color: #fff; font-size: 14px;
    line-height: 50px; /*color: #111; font-size: 1em;*/}

.footer a{
    color: #aaa;
    margin: 0 1em;
    }

#footer p{
    margin-top: 0;
}

.gototop{position: fixed;bottom: 20px; right: 20px;background: rgba(0,0,0,0.5);padding: 10px;color: #fff;}
.gototop i{line-height: 0.5em;}
/*.gototop a:hover{color:#666}
.gototop a:focus{color:#ffffff}*/


@media (max-width: 1200px) {
	body{font:300 13px/13px Roboto,Arial,Helvetica;}
	.navbar-brand{padding-top: 11px;}
	/*.services ul li{margin:0 0.5em; }*/
	
	.grid figure h2{font: 600 0.9em Roboto,Arial,Helvetica;}
	figure.effect-oscar figcaption{padding: 12%;}
	figure.effect-oscar figcaption::before,figure.effect-chico figcaption::before{top: 20px;right: 20px;bottom: 20px;left: 20px;}

	/*.partners img{margin: 0 25px 25px 0;}*/
}

@media (max-width: 900px) {
	h1{font: 700 3.5em Roboto,Arial,Helvetica;}
	h4 {font: 300 1.3em Roboto,Arial,Helvetica;}
	.btn{padding: 1em 2em;}
	.partners img{margin: 0 15px 25px 0;width: 157px;}
	.services ul li{width: 9em;height: 9em;}
	figure.effect-chico figcaption {padding: 2em;}	
	figure.effect-oscar figcaption {padding: 20%;}
	figure.effect-chico figcaption::before{top: 10px;right: 10px;bottom: 10px;left: 10px;}
	.grid figure.effect-chico p{font-size: 0.6em;line-height: 1.5em;}	
}


@media (max-width: 767px) {
	body{font:300 15px/15px Roboto,Arial,Helvetica;}

    #about .profile_photo
    {
        width: 300px;
        height: 300px;
        margin-top: 15px;
        padding-left: 0px;
        margin-left: 75px;
    }

    .first{
        font-size: 40px;
        padding-bottom: 15px;
    }

    .second{
        font-size: 30px;
    }

    .news{

        margin-top: 80px;
    }
    .news1 {

        margin-top: 30px;
    }


    .date{
        margin-top: 20px;
        padding-left: 25px;
    }
    .date1 {
        margin-top: 35px;
        padding-left: 25px;
    }

    .text {
        padding-left: 25px;
        padding-right: 20px;
        padding-top: 15px;
        font-size: 15px;
        text-align: justify;
    }


    .date_month {
        font-size: 30px;
        padding-bottom: 15px;
    }

	.navbar-nav > li > a {line-height: 1em;}	
	.navbar-brand{padding: 7px;}
	.navbar-brand img{height: 37px;}
	.navbar-toggle{margin-top: 12px;}

	.carousel-caption,.carousel-control,.carousel-indicators{display: none;}

	h2.text-center{text-align: center;font-size: 1.8em;}
	h4 {font: 300 1.2em Roboto,Arial,Helvetica;}

	#home {padding-top: 4em;}
	.about.spacer{padding-left: 2em;padding-right: 2em;}
	.spacer{padding:1em 0 0 0;}
    .highlight-info .overlay{padding-bottom: 2em;}

	.grid.team div{margin: 0;padding: 0;}
	figure.effect-chico figcaption {padding: 1.5em;}
	.footer{margin-top: 2em;padding-bottom: 2em;}
}

#footer a{
    margin-left: 10px;
    color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


#footer a.face {
    background-color: #3c5b9b;
}
#footer a.insta {
    background-color: #cd4378;
}
#footer a.twitter {
    background-color: #2daae1;
}

#footer a.linkedin{
    background-color: #0173b2;
}

#footer a.flickr{
    background-color: #0063dc;
}

#footer a.wordpress{
    background-color: #1c739a;
}
.social{
    padding: 20px 0px;
}

.main_name{
    color: #ffffff;
    margin-top: 20px;
    font-size: 25px;
}



.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus{
    background-color: white;
    color: black;

}


.dropdown-menu>.active>a:hover{
 background-color: #F3C024 ;
    color: white;
}

.dropdown-menu>li>a:hover{
    background-color: #F3C024 ;
    color: white;
}


